include .gitattributes
include .gitignore
include Brazo_Final.ino
include Compilacion.txt
include Funciones.py
include Index.py
include Resources/Blank.ico
include Resources/Brazo_robotico.ico
include Resources/FondoCam.png
include Resources/ImagenB.png
include Resources/ImagenG.png
include Resources/ImagenR.png
include Resources/Reload_CAM.png
include Resources/Reload_COM.png
include Resources/fondoCam.jpg
include Vision.py
include device/__init__.py
include device/device.cpp
include requirements.txt
exclude MANIFEST.in